<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

<body>
	<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tri</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href="{{url_for('views.home')}}">Configurations</a></li>
      <li class ="active"><a href="{{url_for('views.controle')}}">Controle</a></li>
    </ul>
  </div>
</nav>
	<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Contrôle des huîtres</h1>
          <p>Montre une photo des huîtres en train d'être triée</p>
          
        </div>
      </div>
      
<div class = "container">
	<img src="{{url_for('static', filename ='huitre.png')}}" class="img-responsive" alt="huitre triée" width="304" height="236"> 
</div>

</body>



</html>
